@use "@/shared/styles/mixins";

.signup-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .signup-form__step {
    flex: 1;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 22px;

    .btn:last-child {
      margin-top: auto;
    }
  }
  .signup-form__header {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .signup-form__step-label {
      text-align: center;
      @include mixins.Body_Bold_20pt;
      color: var(--text-accent);
    }
    .signup-form__title {
      @include mixins.Body_Regular_16pt;
      color: var(--text-secondary);
    }
  }
}

@media (min-width: 768px) {
  .signup-form {
    gap: 25px;
    .signup-form__step {
      gap: 26px;

      .btn:last-child {
        margin-top: 16px;
      }
    }
  }
}
