@use "@/shared/styles/mixins";

.signin-form {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 30px;

	.signin-form__step {
		flex: 1;
		border: none;
    display: flex;
    flex-direction: column;
    gap: 22px;

		.btn:last-child {
			margin-top: auto;
		}
  }

	.signin-form__title {
		@include mixins.Body_Regular_16pt;
		color: var(--text-secondary);
	}
}

@media (min-width: 768px) {
	.signin-form {
    gap: 26px;
    .signin-form__step {
      gap: 26px;
			
			.btn:last-child {
				margin-top: 14px;
			}
    }
  }
}