@use "@/shared/styles/mixins";

.radio {
	.radio__input:checked ~.radio__label{
		.radio__custom-input {
			border-color: var(--control-primary);
		}
	}
  .radio__label {
    display: flex;
    align-items: center;
    gap: 12px;

    .radio__custom-input {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-color: var(--bg-secondary);
			border: 7px solid var(--bg-secondary);
		}
    .radio__label-text {
      @include mixins.Body_Regular_16pt;
    }
  }
}
