.dialog__container {
	pointer-events: none;
  margin: 5.75rem 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.dialog_sticky {
    margin: 0;
    height: 100%;
		width: 100%;

    .dialog__content {
      align-self: flex-end;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
	.dialog__content {
		pointer-events: auto;
		border: none;
		border-radius: 18px;
		max-height: fit-content;
		position: relative;
		z-index: 100;
		overflow: hidden;
	}
}


.dialog {
	pointer-events: auto;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  border: none;
	display: flex;
	align-items: center;
	justify-content: center;

  &::backdrop {
    background-color: var(--modal-background);
    opacity: 0.95;
    cursor: pointer;
  }

	&.dialog_post {
		display: block;
	}

  .dialog__close {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
		z-index: 100;
  }
}

@media (min-width: 768px) {
  .dialog__container {
		margin: 10rem auto 4rem;
    .dialog__content {
      .dialog__close {
        top: 40px;
        right: 40px;
      }
    }
    &.dialog_sticky .dialog__content {
      max-width: 416px;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
      align-self: center;
    }
  }
}
