@use "@/shared/styles/mixins";

.empty-list {
  max-width: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  align-self: center;

  .empty-list__image {
    width: 343px;

		svg {
			width: 100%;
		}
  }

  .empty-list__text {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .empty-list__title {
      @include mixins.Body_Medium_16pt;
    }
  }
}

@media (min-width: 768px) {
  .empty-list {
    .empty-list__image {
      width: 450px;
    }
  }
}
