@use "@/shared/styles/mixins";
.theme__label {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  .theme__title {
		min-width: 30%;
    @include mixins.Body_Regular_16pt;
    color: var(--text-tertiary);
  }
}
.theme__input {
  &:checked ~ .theme__custom-toggle::before {
    transform: translateX(70%);
  }
}

.theme__custom-toggle {
  display: inline-block;
  width: 51px;
  height: 31px;
  border-radius: 20px;
  background-color: var(--control-switch);
  position: relative;

  &::before {
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: var(--bg-cell);
    position: absolute;
    top: 2px;
    left: 3px;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .theme__label .theme__title {
    display: none;
  }
  .theme__custom-toggle {
    width: 31px;
    height: 19px;

    &::before {
      width: 16.5px;
      height: 16.5px;
      top: 1px;
      left: 1px;
    }
  }
}
